<form [formGroup]="CalenderForm" (ngSubmit)="onCalenderFormSubmit()">
<nb-card>
    <nb-card-header>{{EventDate}}
        <button type="button" (click)="dismiss()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </nb-card-header>
        <nb-card-body>
            <div class="form-group">
                <label for="title" class="label">Sub Title</label>
                <input type="text" nbInput fullWidth id="title" placeholder="Enter Title"
                  formControlName="title" [status]="
                  CalenderForm.get('title').touched
                        ? CalenderForm.get('title').invalid
                          ? 'danger'
                          : 'success'
                        : 'basic'
                    " />
              </div>
              <div class="form-group">
                <label for="color" class="label">color</label>
                <input type="color" nbInput fullWidth id="color" placeholder="color"
                  formControlName="color" [status]="
                  CalenderForm.get('color').touched
                        ? CalenderForm.get('color').invalid
                          ? 'danger'
                          : 'success'
                        : 'basic'
                    " />
              </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="success" type="submit" [disabled]="CalenderForm.invalid">
                Submit
              </button>
        </nb-card-footer>

</nb-card>
</form>