

<div class="row">
    <nb-card>
        <nb-card-header>Total Salary
            <button type="button" (click)="dismiss()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-6" *ngFor="let item of MainCategorySource">
                    <nb-card (click)="subcategory(item.cid)">
                        <nb-card-header>
                           {{item.categoryName}}
                        </nb-card-header>
                        <nb-card-body>₹ aa</nb-card-body>
                    </nb-card>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>